/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .lesson-utama {
    width: 50%;
    margin-bottom: 50px;
  }
  
  .top-wrapper h1 {
    font-size: 32px;
  }
  
  .heading h2 {
    font-size: 20px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .lesson {
    width: 100%;
  }

  .lesson-utama {
    width: 100%;
  }
  
  footer {
    text-align: center;
  }
  
  .btn {
    width: 100%;
  }
  
  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: left;
  }
  
  /* Tambahkan CSS untuk header-right */
  .header-right {
    display : none;
  }
  
  /* Tambahkan CSS untuk menu-icon */
  .menu-icon {
    display : block;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
  .logo {
    order: 0;
    display: flex;
  }
.toggle {
  display: flex;
  order: 2;
}
  .item {
    order: 3;
    display: flex;

  }
  .login {
	order: 4;
	background-color: teal;
	display: flex;
	padding: 8px 0;
	border-radius: 20px 20px 20px 20px;
	border-top: 0.5px solid #dee7ec;
	box-shadow: 0 2px #dee7ec;
  }
.login:active {
box-shadow: none;
position: relative;	
top: 1px;
}
.login a {
	text-decoration: none !important;
		color: white;
}
.login:hover {
	background-color: #006d6d;
	transition:all .25s;
	cursor: pointer;
}
  .sign-up {
	display: flex;
	border: 1px solid teal;
	padding: 6px 0;
	border-radius: 20px 20px 20px 20px;
	margin: 0 10px;
	cursor: pointer;
  }
  .sign-up a {
	text-decoration: none !important;
}
.sign-up a:hover {
	color: yellow;
	transition: all .25s;
	border-color: #006d6d;
}
  .submenu-tablet {
    display: none;
  }
  nav ul {
  display: flex;
  position: absolute;
  background-color: #222;
  top: 90px;
  left: 120px;
  right: 120px;
  height: 70vh;
  flex-direction: column;
  opacity: 0;
  transition: all 2s ease;
  z-index: 100;
  
  
}
nav ul li {
  display: flex;
  color: white;
  flex-direction: column;
  padding: 10px 0;
  
}
nav ul.slide {
  opacity: 1;
  transition: all 1s;

}
/* Sub menu Drop mobile*/

.dropbtn {
  background-color: #222;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  text-decoration: underline;;
}

.dropdown {
  position: relative;
  display: flex;
}
.dropdown {
    position: relative;
    display: flex;
}

.dropdown-content {
    display: none;
  position: absolute;
  background-color: #f9f9f9;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin: 0;
  top: 40px;
  left: 30%;
  right: 50%;
  height: auto;
  flex-direction: column;
  width : 100%;

}

.dropdown-content a {
  color: black;
  padding: 20px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  text-decoration: underline;
}

.show {
  display:block;
}
}

/* _________Ukuran tablet___________*/

@media screen and (max-width: 768px) {
	.logo {
      display: flex;
  	}
	.toggle {
		display: flex;
	}
	nav ul {
		display: flex;
		position: absolute;
		background-color: #222;
		top: 90px;
		left: 150px;
		right: 150px;
		height: 50vh;
		flex-direction: column;
		opacity: 0;
		transition: all 2s ease;
		z-index: 100;
	}
	nav ul li {
		display: flex;
		color: white;
		flex-direction: column;
		padding: 10px 0;
		z-index: 100;
	}
	nav ul.slide {
		opacity: 1;
		transition: all 1s;
    z-index: 100;
    width: 100%;
    margin-left : -140px;
    padding-left: inherit;
	}
  	.item {
      order: 3;
      display: flex;
  	}
	  .login {
		order: 4;
		  background-color: teal;
		  display: flex;
		  padding: 8px 0;
		  border-radius: 20px 20px 20px 20px;
		  border-top: 0.5px solid #dee7ec;
		  box-shadow: 0 2px #dee7ec;
		 }
		 .login:active {
			 box-shadow: none;
			 position: relative;	
			 top: 1px;
		 }
		 .login a {
			 text-decoration: none !important;
			 color: white;
		 }
		 .login:hover {
			 background-color: #006d6d;
			 transition:all .25s;
			 cursor: pointer;
		 }
		 .sign-up {
		 order: 5;
			 display: flex;
			 border: 1px solid teal;
			 padding: 7px ;
			 border-radius: 20px 20px 20px 20px;
			 margin: 0 10px;
			 cursor: pointer;
		 }
		 .sign-up a {
			 text-decoration: none !important;
			 color: white;
		 }
		 .sign-up a:hover {
			 color: yellow;
			 transition:all .25s;
			 border-color: #006d6d;
		 }
  	.submenu-tablet {
  		display: flex;
  		position: relative;
  		margin-right:-100px;
  	}
  	.login2 {
		background-color: teal;
		display: flex;
		padding: 8px 20px;
		border-radius: 20px 20px 20px 20px;
		border-top: 0.5px solid #dee7ec;
		box-shadow: 0 2px #dee7ec;
	}
	.login2:active {
		box-shadow: none;
		position: relative;	
		top: 1px;
	}
	.login2 a {
		text-decoration: none !important;
		color: white;
	}
	.login2:hover {
		background-color: #006d6d;
		transition:all .25s;
		cursor: pointer;
	}
	.sign-up2 {
		display: flex;
		border: 1px solid teal;
		padding: 7px 15px;
		border-radius: 20px 20px 20px 20px;
		margin: 0 10px;
		cursor: pointer;
	}
	.sign-up2 a {
		text-decoration: none !important;
		color: white;
	}
	.sign-up2 a:hover {
		color: yellow;
		transition:all .25s;
		border-color: #006d6d;
	}
	/* Sub menu Drop tablet*/

	.dropbtn {
	  background-color: #222;
	  color: white;
	  padding: 5px;
	  font-size: 16px;
	  border: none;
	  cursor: pointer;
	}

	.dropbtn:hover, .dropbtn:focus {
	  text-decoration: underline;;
	}

	.dropdown {
	  position: relative;
	  display: flex;
	}
	.dropdown {
  		position: relative;
  		display: flex;
	}

	.dropdown-content {
  		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		overflow: auto;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		margin-top: 200px;
		margin-right: 300px;
		top: -150px;
		left: 100px;
		right: 100px;
		height: auto;
		flex-direction: column;
		z-index: 100;
	}

	.dropdown-content a {
	  color: black;
	  padding: 20px 16px;
	  text-decoration: none;
	  display: block;
	}
	.dropdown-content a:hover {
		text-decoration: underline;
	}

	.show {
		display:block;
	}